<nav id='nav2'>
    <div id="logo">
        <h2>Gradeasy</h2>
    </div>
    <ul class="menu">
        <li id="settings"><a href="../dashboard/settings/:id">Settings</a></li>
        <li id="signout"><a href="../login">Signout</a></li>
    </ul>
</nav>