<!DOCTYPE html>
<html>
    <head>
        <Title>Gradeasy Home</Title>
    </head>

    <body>

        <%- include('partials/nav1'); -%>

        <header>
            <h1>Welcome to Gradeasy!</h1>
        </header>
        <section id="How-We-Started">
            <h2>How we Started</h2>
            <p>We made a school project.</p>
            <button id="LearnMore1">Learn More</button>
        </section>
        <section id="Who-Are-We">
            <h2>Who Are We</h2>
            <p>Students, basically.</p>
            <button id="LearnMore2">Learn More</button>
        </section>
        
        <%- include('partials/footer'); -%>

    </body>
</html>