<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- CDN LINK FOR BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles/style.css">
        <Title>Gradeasy Home</Title>

    </head>

    <body>

        <%- include('partials/nav1'); -%>

        <main role="main">

            <!-- MAIN JUMBOTRON -->
            <div class="jumbotron">
              <div class="container">
                <h1 class="display-3 center">Welcome to Gradeasy</h1>
                <p class="center">Gradeasy is a A.I. powered grading tool used to help teachers and students get a better grip on their schooling experience.</p>
              </div>
            </div>
      
            <div class="container">
      
              <div class="row">
                <div class="col-md-6 center">
                  <h2>How We Started</h2>
                  <p>We made a school project</p>
                  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#how_we_started" aria-expanded="false" aria-controls="how_we_started">
                    More Details
                  </button>
                </div>
                <div class="col-md-6 center">
                  <h2>What We Are</h2>
                  <p>Students, basically.</p>
                  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#what_we_are" aria-expanded="false" aria-controls="what_we_are">
                    More Details
                  </button>
                </div>

                <div class="row">

                  <div class="center collapse col-md-12" id="how_we_started">
                    <br>
                    <div class="text-center card card-body">
                      We are students at UNC Charlotte completing our senior capstone project. This idea came to us from a family member of one of our's expressing the economic 
                      issues around current automated grading solutions.
                    </div>
                  </div>
  
                  <div class="center collapse col-md-12" id="what_we_are">
                    <br>
                    <div class="text-center card card-body">
                      Our A.I. can detect handwriting and compare handwritten answers to answer keys uploaded by teachers/professors. This saves educators time and money
                      when grading their student's work. 
                    </div>
                  </div>

                </div>


              </div>
      
          <hr>
      
          <br><br><br><br><br><br><br>
      
          <div class="jumbotron" id="aboutUsHeader">
              <div class="container">
                <h1 class="display-4" >Meet The Team</h1>
              </div>
              <br>
      
              <!-- INFORMATION ABOUT ALL OF US -->
      
              <hr class="featurette-divider">
      
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Hunter Pace</h2>
                  <p class="lead">Hunter Pace studies computer science with a concentration in Artificial Intelligence and is graduating May 2020</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" src="https://aws-website-davidshryock-0zkq2.s3.amazonaws.com/Gradeasy+Pictures/hunter_stache_cropped.png" alt="Hunter Stache">
                </div>
              </div>
      
              <hr class="featurette-divider">
      
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading">David Shryock</h2>
                  <p class="lead">David studied Computer Science with a concentration in Cybersecurity and is Graduating May 2020.</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img class="featurette-image img-fluid mx-auto" src="https://aws-website-davidshryock-0zkq2.s3.amazonaws.com/Gradeasy+Pictures/david_cropped.png" alt="David Shryock">
                </div>
              </div>
      
              <hr class="featurette-divider">
      
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Dawson Webb</h2>
                  <p class="lead"></p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" src="https://aws-website-davidshryock-0zkq2.s3.amazonaws.com/Gradeasy+Pictures/Dawson_stache.jpg" alt="Dawson Stache">
                </div>
              </div>
      
               <hr class="featurette-divider">
      
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading">Valentina Ibarra</h2>
                  <p class="lead">As the daughter of a former elementary school teacher and as a current student, I know how crucial efficient grading and results can be for a student to fully learn and understand material. This is why my team and I are so dedicated in making something that will make grading tests and assignments easier and more cost efficient for schools. Gradeasy makes grading easy!</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img class="featurette-image img-fluid mx-auto" src="https://aws-website-davidshryock-0zkq2.s3.amazonaws.com/Gradeasy+Pictures/valentina_cropped.png" alt="Valentina Ibarra">
                </div>
              </div>
      
               <hr class="featurette-divider">
      
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Kaylan Durham</h2>
                  <p class="lead">KayLan Durham studies computer science with a concentration in information technology and is graduating in July 2020.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" src="https://aws-website-davidshryock-0zkq2.s3.amazonaws.com/Gradeasy+Pictures/KayLan_Durham.png" alt="Kaylan Durham">
                </div>
              </div>
              <hr class="featurette-divider">
      
            </div>
            <hr>
      
          </div> 
      
      </main>
      
        
        <%- include('partials/footer'); -%>

    </body>
    
<!-- CDN LINKS FOR BOOTSTRAP JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>