<!DOCTYPE html>
<html>
    <head>
        <Title>Class Dashboard</Title>
    </head>

    <body>
        <script>
            var title = '<%=assignment[0].AssignmentName%>';
            //script code
        </script>
    </body>
</html>