<!DOCTYPE html>
<html>
    <head>
        
        <!-- CDN LINK FOR JQUERY -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
           
        <!-- CDN LINK FOR BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <Title>Class Dashboard </Title>
    </head>

    <body>
        <script>


                    myWindow = window.open("", "_parent", "width=2408, height=3508"); // "_parent" neccessary width and height are set to that of a normal paper with default DPI printing
                    myWindow.document.write('<html><h1 font="25px Arial"><%=assignment[0].AssignmentName%></h1></html>') // insert assignment name here
                    // myWindow.document.write('<html><h1 class="text-center">Name: </h1></html>') 
                    // myWindow.document.write('<html><div class="container"><div class="row"><div class="float-left col-sm-6"></div><div class="float-right col-sm-6"><h1>Name: </h1></div></div></div></html>')
                    myWindow.document.write('<canvas id="myCanvas" height=2408 width=3508 style="border:10px solid #black;"></canvas>')
                    
                    var numberOfQuestions = 10;

                        var d = myWindow.document.getElementById("myCanvas");
                        var dtx = d.getContext("2d");
                        
                        d.width = 3508;
                        d.height = 2408;

                        dtx.canvas.width  = 3508;
                        dtx.canvas.height = 2408;

                        var c = myWindow.document.getElementById("myCanvas");
                        var ctx = c.getContext("2d");
                        ctx.beginPath();

                        ctx.moveTo(-20,80);
                        ctx.lineTo(3508,80);

                    for(let i = 0; i < numberOfQuestions; i++){
                        if (i!=0) {
                            var number = 125*(i) // adjust here to change space between boxes 
                        } else{
                            var number = 50*(i)
                        }

                        var c = myWindow.document.getElementById("myCanvas");
                        var ctx = c.getContext("2d");
                        ctx.beginPath();

                        ctx.moveTo(0,80);
                        ctx.lineTo(3508,80);

                        ctx.font = "25px Arial"; // adjust font for numbers
                        ctx.rect(75, number+150, 1, 50); // (x,y,width,height)
                        

                        // prints 'name:' and name box
                        if (i==0) {
                            ctx.rect(100, 10, 300, 50);
                            ctx.fillText("Name:",5,43);
                        }
                        
                        ctx.stroke();

                        var x = i+1; // the number the question is on

                        ctx.fillText(x+'.', 20, number+190); // Writes number. example: "1."

                    }

                    myWindow.print()

            </script>

<style type="text/css">
 
    @media print {
    #header, #footer {display:none;}
        html, body {
            height:100%; 
            margin: 0 !important; 
            padding: 0 !important;
            overflow: hidden;
        }
    }
   
    </style>
    
    </body>
</html>


