<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- CDN LINK FOR BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles/style.css">
        <Title>Class Dashboard</Title>
    </head>

    <body>

        <%- include('partials/nav2'); -%>

        <header>
            <h1><%=classInfo[0].ClassName%></h1>
            <h1>This is the Student Creation page</h1>
        </header>
        <Section id="studentCreationForm">
            <h1>
                Add a Student!
            </h1>
            <form action="studentCreate/:<%=classInfo[0].Classid%>" method="POST">
                <input id="StudentNameInput" type="text" name="studentName" placeholder="studentName"/>
                <button id="submit">Submit</button> 
            </form>
        </Section>

        <%- include('partials/footer'); -%>

    </body>
</html>