<!DOCTYPE html>
<html>
    <head>
        <Title>Gradeasy Home</Title>
        <link rel="stylesheet" href="../styles/style.css"/>
    </head>

    <body>
        
        <nav>
            <div id="logo">
                <h2>Gradeasy</h2>
            </div>
            <ul class="menu">
                <li id="home"><a href="index">Home</a> </li>
                <li id="login"><a href="login">Login</a></li>
                <li id="signup"><a href="signup">Sign Up</a></li>
                <li id="ContactUs">Contact Us
                    <ul id="dropdown">
                        <li>email</li>
                        <li>LinkdIn</li>
                        <li>forum</li>
                    </ul>
                </li>
            </ul>
        </nav>

        <header>
            <h1>Welcome to Gradeasy!</h1>
        </header>
        <section id="How-We-Started">
            <h2>How we Started</h2>
            <p>We made a school project.</p>
            <button id="LearnMore1">Learn More</button>
        </section>
        <section id="Who-Are-We">
            <h2>Who Are We</h2>
            <p>Students, basically.</p>
            <button id="LearnMore2">Learn More</button>
        </section>
        <footer>
            Made by Hunter Pace for Gradeasy function testing 2020
        </footer>

        <!-- <script src="../scripts/index.js"></script> -->
    </body>
</html>